@use "../util" as u;

.rounded{
    border-radius: 20px;
}

.rounded-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.grid {
    width: calc(100% - 2rem);

  @include u.breakpoint("large") {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  @include u.breakpoint("medium") {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    max-width: 450px;
    min-width: auto;
    margin-inline: auto;

    @include u.breakpoint("medium") {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      max-width: 821px;
      max-height: 80vh;
    }
    @include u.breakpoint("large") {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "menu item1 item2 item3"
        "menu item4 item5 item6";
      min-width: 821px;
      max-width: 1200px;
      background-color: var(--navy-950);
    }

    &--card {
      display: flex;
      flex-direction: column;
      border: 1px solid var(--white);
      width: auto;
      min-height: 200px;
      border-radius: 20px;
      background-color: var(--navy-900);

      @include u.breakpoint('large') {
        align-self: flex-start;
      }
      @include u.breakpoint('medium') {
        align-self: flex-start;
      }

       &__image{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 20%;
      }
      img{
            width: 60px;
            height: 60px;
        }

        &__content{
          display: flex;
          flex-direction: column;
          flex-grow: 5;
          background-color: var(--navy-900);
          border-radius: 20px;
          padding: 20px;

          &--category{
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            ul{
              display: block;
              padding: 0;

            }
            li{
                display: inline-block;
                width: 6px;
                height: 6px;
                background-color: var(--purple-500);
                border-radius: 50%;
                margin-right: 5px;
            }
            h3{
              font-size: 1.2rem;
              color: var(--white);
            }
            div{
              font-size: 2.8rem;
              color: var(--purple-500);
            }
          }

          &--data{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: var(--purple-500);
            font-size: 1.2rem;

            @include u.breakpoint('large') {
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;  
            }
            @include u.breakpoint('medium') {
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;     
            }

            p{
              margin: 0;
            }
            .time{
              font-size: 2.8rem;
              color: var(--white);
            }
            .previous{
              align-self: center;
              color: var(--grey-200);
              font-size: 0.8rem;
              padding-top: 0.5rem;
            }
          }
        }

      &--work{
        background-color: var(--orange-300);
      }
      &--play{
        background-color: var(--blue-300);
        
      }
      &--study{
        background-color: var(--pink-400);
      }
      &--exercise{
        background-color: var(--green-400);
      }
      &--social{
         background-color: var(--purple-600);
      }
      &--self-care{
         background-color: var(--yellow-300);
      }
     

      &__content{
        flex-grow: 1;
      }

      @include u.breakpoint("medium") {
        min-height: 200px;
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      background-color: var(--navy-900);

      @include u.breakpoint("medium") {
        grid-column: 1/-1;
      }

      @include u.breakpoint("large") {
        grid-area: menu;
      }

      .menu__header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-grow: 2;
        background-color: var(--purple-600);
        border-bottom: 1px solid var(--white);

        @include u.breakpoint("large") {
          flex-direction: column;
          align-items: center;
        }

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 2px solid var(--white);
        }
        h1 {
          font-size: 0.8rem;
          font-weight: 700;
        }

        &__text {
          flex-grow: 1;
          margin-left: 2rem;
          color: var(--white);
          width: 100%;
        }
      }
      &__content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-grow: 1;
        background-color: var(--navy-900);
        width: 100%;
    
        @include u.breakpoint("large") {
          flex-direction: column;
          align-items: center;
        }
      }
      h3{
        padding: 0;
        margin: 0;
      }
    }
  }
}
