h3{
    font-weight: 700;
    margin-top: 0;
}
h1{
    font-size: 18px;
    font-weight: 200;
    color: var(--navy-200);
    margin: 0;
}
h2{
    font-size: 40px;
    font-weight: 200;
    color: var(--white);
    margin: 0;
}

p{
    margin-top: 0;
}

a, 
a:visited, 
a:active{
    text-decoration: none;
}